{% extends 'base.html' %}
{% load static %}

   {% block content %}

<header>

    <div class="nav-left">
        <h3><a href="{% url 'post_new' %}">New Blog Post</a></h3>
    </div>
</header>

      {% for post in object_list %}
    <div class="post-entry">
        <h2><a href="{% url 'post_detail1' post.pk %}"> {{ post.title }}</a> </h2>
        <p> {{ post.body }} </p>
    </div>
    {% endfor %}
<div class="post-entry">
    <a href = "{% url 'logout' %}">Logout here</a>
</div>
{% endblock %}


